body {
  color: #eae2b7;
    margin: 0;
    background-color: #eae2b7;
    text-align: center;
    font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
    padding: 50 px 0;
    color: d62828;
    padding: 40 px;
    font-size: 20 px;
    font-weight: 100;
    text-transform: capitalize;
  }


  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Set the font family for any h1, h2, or h3 heading */
h1 {
    text-align: center;
    text-transform: uppercase;
    color: #bababa;
    font-family: "Playfair Display", Times, serif;
    margin-bottom: 29 px;
    align-items: center;

}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: #bababa;
    font-family: "Playfair Display", Times, serif;
    margin-bottom: 70 px;
    align-items: center;

}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: #bababa;
    font-family: "Playfair Display", Times, serif;
    margin-bottom: 29 px;
    align-items: center;
}

article {
  padding: 50 px 0;
}

article div {
  text-align: center;
  width: 100 %;
}

p {
  line-height: 1.5;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600 px;
}

img {
  width: 100 %;
  max-width: 200 px;
  height: auto;
}

hr {
  border: 2 px solid black;
}

/* Add your solution below *

{
  border: 2 px solid black;
.image-circle {border-radius: 50 %;
 background solidcolor: 003049
}

  
a:link, a:visited {
  color: (d62828);
  text-decoration: underline;
  cursor:;
}

a:link:active, a:visited:active {
  color: (f77f00);
}
